.footer {
  margin: 24px 0 0;
  text-align: center;
  padding: 12px;
  border-top: 1px lightgray solid;
  background-color: #22223add;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  opacity: 0.75;
}

.link-with-img {
  display: inline-flex;
  align-items: center;
  padding: 3px;
  margin: 6px 12px;
}

.link-with-img img {
  margin-right: 8px;
  width: auto;
  height: 20px;
  filter: invert(1);
}
