header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: max(18px, 2vh);
  text-shadow: #0001 3px 3px 3px;
  border-bottom: 1px lightgray solid;
}

header a {
  cursor: pointer;
  padding: 16px 24px;
  width: 100%;
}

header a h1 {
  max-width: 980px;
  margin: auto;
}

.screener {
  padding: 16px 24px;
  background-color: #0001;
}

ul#screener {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

ul#screener li {
  align-items: start;
  padding: 6px 12px;
  border: 1px lightgray solid;
  border-radius: 6px;
  cursor: pointer;
  background-color: #fffc;
  position: relative;
}

ul#screener li:hover {
  background-color: #fff4;
}

ul#screener li .name {
  font-weight: 600;
  min-width: 112px;
  margin-right: 24px;
}

ul#screener li .price {
  font-size: 1.4em;
}

ul#screener li .date {
  font-size: 0.8em;
  color: #999;
  position: absolute;
  bottom: 3px;
}

main {
  padding: 16px 24px;
  max-width: 980px;
  margin: auto;
}

section {
  margin: 24px 0 36px;
}

section h2 {
  max-height: 36px;
  display: inline-flex;
  align-items: center;
}

section h2 img {
  height: 40px;
  max-width: 36px;
  margin-right: 16px;
}

section ul li {
  margin: 6px 12px;
  padding: 6px 12px;
  cursor: pointer;
}

section ul li:hover {
  background-color: #0001;
}

section .name {
  width: 35%;
}

section .asset {
  width: 30%;
}

section .type {
  width: 15%;
}

section .threshold,
section .heartbeat {
  width: 10%;
  text-align: right;
  display: none;
}

@media (max-width: 800px) {
  html {
    font-size: .8em;
  }

  .screener {
    padding: 8px 6px;
  }
  
  ul#screener {
    gap: 4px;
  }
  
  ul#screener li {
    padding: 4px 8px;
  }
  
  ul#screener li .name {
    margin-top: -2px;
  }
  
  ul#screener li .name {
    min-width: 92px;
    margin-right: 12px;
  }
  
  ul#screener li .date {
    bottom: 0;
  }
}
