* {
  transition: all 75ms ease-in-out;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-flow: column;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #282828;
  color: ghostwhite;
}

header {
  display: flex;
  justify-content: center;
  flex-flow: column;
  min-height: 80px;
  font-size: max(15px, 2vh);
  border-bottom: 1px lightgray solid;
  background-image: url('../assets/favicon_full_512.svg');
  background-position-x: 8px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 64px;
}

header h1,
header h2 {
  width: calc(100% - 160px);
}

header h1 {
  margin: 16px auto 0;
  font-variant: small-caps;
  font-size: 1.4rem;
}

header h2 {
  margin: 0 auto 16px;
  font-size: .9rem;
  opacity: .66;
}

.search {
  margin: 16px auto 0;
}

#search {
  border: 1px lightgray solid;
  border-radius: 8px;
  padding: 6px 12px;
}

main {
  padding: 16px 24px;
  width: 100%;
  max-width: 980px;
  margin: auto;
  flex: auto;
}

section {
  margin: 24px 0 36px;
}

section h2 {
  font-size: 1.2rem;
  max-height: 36px;
  display: inline-flex;
  align-items: center;
}

section h2 img {
  height: 40px;
  max-width: 36px;
  margin-right: 16px;
}

section ul li {
  margin: 6px 6px;
  padding: 6px 18px;
  cursor: pointer;
  border-radius: 6px;
}

section ul li:hover {
  background-color: #37374d;
}

section .name {
  width: 35%;
}

section .asset {
  width: 30%;
}

section .type {
  width: 15%;
}

section .threshold,
section .heartbeat {
  width: 10%;
  text-align: right;
  display: none;
}

.screener {
  padding: 16px 24px;
  background-color: #22223add;
  border-bottom: 1px lightgray solid;
  position: sticky;
  top: 0;
}

.screener::before {
  content: '\2191 Click on a ticker to unwatch';
  position: absolute;
  bottom: 4px;
  right: 2%;
  font-size: 0.75rem;
  opacity: .5;
}

.screener::after {
  content: '\2193 Click on a line below to watch';
  position: absolute;
  right: 2%;
  font-size: .75rem;
  opacity: .5;
  bottom: calc(-.75rem - 8px);
}

.screener ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px 10px;
}

.screener ul#screener li {
  align-items: start;
  padding: 6px 16px;
  border: 1px lightgray solid;
  border-radius: 6px;
  cursor: pointer;
  background-color: #3f3f3f;
  position: relative;
}

.screener ul#screener li:hover {
  background-color: #4e4c61;
}

.screener ul li .chain-logo-container {
  position: absolute;
  width: 18px;
  height: 18px;
  top: -6px;
  left: -6px;
  background-color: ghostwhite;
  border-radius: 50%;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
}

.screener ul li .chain-logo-container .chain-logo {
  max-height: 100%;
}

.screener ul li .name {
  font-weight: 500;
  min-width: 112px;
  margin-right: 24px;
  margin-top: -4px;
}

.screener ul li .price {
  font-size: 1.2em;
  font-family: 'Roboto Mono', monospace;
}

.screener ul li .price.up {
  color: #94ffa0;
}

.screener ul li .price.down {
  color: #ff8a8a;
}

.screener ul li .date {
  font-size: 0.65rem;
  font-weight: 300;
  color: #fff8;
  position: absolute;
  bottom: 3px;
}

@media (max-width: 820px) {
  html {
    font-size: 0.85rem;
  }

  .screener {
    padding: 8px 6px;
  }

  .screener ul#screener {
    gap: 6px 8px;
  }

  .screener ul#screener li {
    padding: 4px 10px;
  }

  .screener ul#screener li .chain-logo-container {
    width: 16px;
    height: 16px;
  }

  .screener ul#screener li .name {
    margin-top: -2px;
    min-width: 84px;
    margin-right: 12px;
  }

  .screener ul#screener li .date {
    bottom: 0;
  }
}

@media (max-width: 560px) {
  html {
    font-size: 0.75rem;
  }
}
